<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.test_passed? %>
  <h2 class="green"><%= @test_passage.success_count.round %>%</h2><br>
  <h2><%= t('.passed') %></h2>
<% else %>
  <h2 class="red"><%= @test_passage.success_count.round %>%</h2><br>
  <h2><%= t('.failed') %></h2>
<% end %>

<%= link_to t('.tests'), tests_path %>