<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class="container">
      <ul class="alert alert-success" style="padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;">
        <%= render 'shared/flash' %>
      </ul>

      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
